h1#slogan {
    text-align: center;
    font-weight: normal;
    margin-top: 12%;
    margin-bottom: 12%;
}

h3.section-title {
    font-size: large;
}

span.category {
    font-weight: bold;
    font-size: small;
}