---
layout: default
Title: Brickworks
extra_css:
- /css/index.css
---
<div class="row">
    <h1 id="slogan">一图胜千言。</h1>
    <div class="col-md-12">
        <h3 class="section-title">Recent updates</h3>
        {% for post in site.posts limit:10 %}
        <ul class="post-{{ post.category }}">
            <li>
                <abbr>{{ post.date | date_to_string }}</abbr>,
                {% if post.show_url == nil %}
                {% if post.external_url == nil %}
                {{ post.title }}
                {% else %}
                <a href="{{ post.external_url }}">{{ post.title }}</a>
                {% endif %}
                {% else %}
                {% if post.external_url == nil %}
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% else %}
                <a href="{{ post.external_url }}">{{ post.title }}</a>
                {% endif %}
                {% endif %}
                {% for ca in post.categories %}
                <span class="category">{{ca | upcase}}</span>
                {% endfor %}
            </li>
        </ul>
        {% endfor %}
    </div>
</div>